@font-face {
  font-family: Rubik Medium;
  src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: Rubik Light;
  src: url('../fonts/Rubik-Light.ttf');
}

body{
	background: url("../images/11.jpg") no-repeat;
	background-size:cover;	
}

.titles {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;	
}

h3,p  {
	text-align:center;
	margin-left:140px;
	font-family: Rubik Light;
}

a, #home, #logout {
	font-family: Rubik Light;
	float:right;
	margin-left: 20px;
}
.func {
	float:right;
}

.container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family: Rubik Light;
	margin-top: 20px;
}

form {
	margin-top:20px;
}

input {
	height:30px;
	font-family: Rubik Light;
}

table {
border-spacing: 0;
empty-cells: hide;
}
td {
padding: 10px 20px;
text-align: center;
border-bottom: 1px solid #F4EEE8;
transition: all 0.5s linear;
}
td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}
th {
padding: 10px 20px;
color: #3D3511;
border-bottom: 1px solid #F4EEE8;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
td:nth-child(even) {
background: #F6D27E;
}
td:nth-child(odd) {
background: #D1C7BF;
}
th:nth-child(even)  {
background: #F6D27E;
}
th:nth-child(odd)  {
background: #D1C7BF;
}
.round-top {
border-top-left-radius: 5px;
}
.round-bottom {
border-bottom-left-radius: 5px;
}
tr:hover td{
background: #D1C7BF;
font-weight: bold;
}