@font-face {
  font-family: Rubik Medium;
  src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
  font-family: Rubik Light;
  src: url('../fonts/Rubik-Light.ttf');
}


body {
	background: url("../images/11.jpg") no-repeat;
	background-size:cover;	
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family: Rubik Light;
	margin-top: 20px;
}

form {
	margin-top:20px;
}

a {
	font-family: Rubik Light;
	float:right;
	margin-left: 20px;
}

